html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Arial';
}
.index .wrapper {
  background: url('../images/dot-pattern.gif') repeat transparent;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto;
  /*The -100px mentioned above needs to be the exact height of the footer.*/
}
.portfolio .css-center .css-name {
float: left;
width: 230px;
font-size: 34px;
color: #CCC;
margin-top: 11px;
text-shadow: 0px 1px 0px #444444, 0px -1px 0px #111111;
margin-left: 8px;
}
button {
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: inset 0 -17px 33px -1px #222222;
  text-shadow: 0 1px 3px black;
  font-weight: bold;
  color: white;
  background-color: #999;
  border: none;
  -webkit-transition-property: box-shadow, text-shadow;
  -webkit-transition-duration: .2s,.1s;
}
button:hover {
  text-shadow: 1px 1px 4px black;
  box-shadow: inset 0 -13px 33px -1px #222222;
  text-decoration: none;
  cursor: pointer;
}
button:active {
  box-shadow: inset 0 -13px 30px 0px #333333, inset 0px 1px 6px 1px #000000;
  -webkit-transition-duration: 0s,.1s;
}
.css-hidden {
  display: none!important;
}
/*PORTFOLIO*/
.portfolio {
  background: url('../images/dot-pattern.gif') repeat transparent;
}
.portfolio .wrapper {
  margin: 0 auto -80px auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /*The -100px mentioned above needs to be the exact height of the footer.*/

}
.portfolio .page {
  width: 960px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
}
.portfolio .page .main-body {
  width: 780px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.7);
  float: left;
  box-shadow: 0px 0px 10px -2px #333333;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 15px;
}
.portfolio .page .main-body .project {
  min-height: 300px;
  margin: 30px 0;
}
.project .css-project-description {
padding: 0 30px;
}
.portfolio .page .main-body .project .css-project-title {
  height: 40px;
  background: #0054BF;
  position: relative;
  left: -15px;
  padding-left: 50px;
  float: left;
  box-shadow: 4px 4px 7px -2px #000000;
}
.portfolio .page .main-body .project .css-project-title span {
  float: right;
  color: #ccc;
  font-size: 24px;
  margin-top: 7px;
  margin-right: 20px;
  text-shadow: 0px 1px 0px #444444, 0px -1px 0px #111111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition-property: margin-right, color;
  -moz-transition-duration: .2s, .2s;
  -webkit-transition-property: margin-right, color;
  -webkit-transition-duration: .2s, .2s;
  position: relative;
}
.portfolio .page .main-body .project .css-project-title span:hover {
  cursor: default;
  margin-right: 23px;
}
.portfolio .page .main-body .project .css-project-title .css-folded {
  border-color: transparent #7D90A3 transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: -65px;
  top: 26px;
  z-index: -1;
}
.portfolio .page .main-body .project .css-project-title:hover span {
  margin-right: 23px;
  color: whitesmoke;
}
.portfolio .page .main-body .project .css-triangle {
  width: 40px;
  height: 52px;
  position: relative;
  background: transparent;
  top: -6px;
  left: -10px;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 1;
}
.portfolio .page .main-body .project .css-triangle:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 81px;
  background: #0054BF;
  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);
  top: 63%;
  left: -63%;
  box-shadow: -16px -12px 6px -14px #000000;
}
.portfolio .page .main-body .project .css-triangle:before {
  content: '';
  position: absolute;
  width: 49px;
  height: 91px;
  background: #0054BF;
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
  transform: rotate(-65deg);
  top: 73%;
  left: 68%;
  box-shadow: 6px -5px 8px -4px #000000;
}
.portfolio .page .nav-container {
  width: 180px;
  position: relative;
  float: right;
}
.portfolio .page .nav-container .nav {
  width: 180px;
  float: right;
  min-height: 140px;
  background: rgba(225, 225, 225, 0.7);
  box-shadow: 1px 2px 8px -3px #333333, 1px -2px 4px -4px #333333;
  border-radius: 0px 5px 5px 0px;
  position: fixed;
  padding-top: 10px;
  top: 20px;
  padding-bottom: 10px;
}
.portfolio .page .nav-container .nav a {
  text-decoration: none;
  color: #0092BF;
  margin-top: 10px;
  padding-left: 20px;
  display: block;
  -moz-transition-property: text-shadow, color;
  -moz-transition-duration: .1s, .2s;
  -webkit-transition-property: text-shadow, color;
  -webkit-transition-duration: .1s, .2s;
}
.portfolio .page .nav-container .nav a:hover {
  color: #1AC8FF;
}
.differentShare {
    color: #837B6F!important;
}
.differentShare:hover{
    cursor:default;
    color: #837B6F!important;
}
.portfolio .header {
  width: 100%;
  height: 60px;
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #4f4f4f 0%, #3a3a3a 20%, #2c2c2c 50%, #1d1d1d 52%, #262626 100%, #2d2d2d 100%, #1d1d1d 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(0%, #4f4f4f), color-stop(20%, #3a3a3a), color-stop(50%, #2c2c2c), color-stop(52%, #1d1d1d), color-stop(100%, #262626), color-stop(100%, #2d2d2d), color-stop(100%, #1d1d1d));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4c4c4c 0%, #4f4f4f 0%, #3a3a3a 20%, #2c2c2c 50%, #1d1d1d 52%, #262626 100%, #2d2d2d 100%, #1d1d1d 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4c4c4c 0%, #4f4f4f 0%, #3a3a3a 20%, #2c2c2c 50%, #1d1d1d 52%, #262626 100%, #2d2d2d 100%, #1d1d1d 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4c4c4c 0%, #4f4f4f 0%, #3a3a3a 20%, #2c2c2c 50%, #1d1d1d 52%, #262626 100%, #2d2d2d 100%, #1d1d1d 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #4c4c4c 0%, #4f4f4f 0%, #3a3a3a 20%, #2c2c2c 50%, #1d1d1d 52%, #262626 100%, #2d2d2d 100%, #1d1d1d 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#1d1d1d', GradientType=0);
  /* IE6-9 */
  position: relative;
  z-index: 1;
}
	    .portfolio .css-center {
	        width: 960px;
	        margin: 0 auto 0 auto;
	    }

#webcamStream {
    background: #222;
    height: 400px;
    width: 720px;
    color: #CCC;
}